main {
  margin: 0 auto;
  background-color: #000;

  .masonry {
    font-size: 0;
    text-align: center;
    .image-container {
      display: inline-block;
      height: 400px;

      img {
        height: 400px;
        width: 33vw;
      }

    }

  }

}
